<!DOCTYPE html>
<!--天气预报-->
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        #aa{
            width: 500px;
            height: 500px;
            border: 1px solid red;
        }
    </style>
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
</head>
<body>
坐标：<span id="mousea"></span>
    <div id="aa">
        移动鼠标试试
    </div>
    <script>
        alert("123")
        $(function () {
            alert("123")
            $('#aa').mousemove(function (e) {
                $('#mousea').text('x:' + e.pageX + 'y:' + e.pageY)
            })
        });
    </script>
</body>
</html>